<!DOCTYPE HTML>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link th:href="@{/layout/styles/home.css}" rel="stylesheet">
	<title>Fotografia - HomePage</title>
</head>
<body>
<header>
	<a th:href="@{/default}" class="header-brand">Fotografia</a>
	<nav>
		<ul class="nav_links">
			<li><a th:href="@{/default}">Home</a></li>
			<li>
			<div class="dropdown">
				<a class="dropbtn">Elenco</a>
				<div class="dropdown-content">
					<a th:href="@{/category}">Categorie</a>
					<a th:href="@{/photographer}">Fotografi</a>
					<a th:href="@{/photography}">Foto</a>
				</div>
				</div>
			</li>
			
		</ul>
		</nav>
		<ul class="nav_links2">
				<li><a th:href="@{/logout}"class="button">Logout</a></li>	
					
		</ul>
</header>
<div class="benvenuto">
<p>Utente: <a sec:authentication="name"></a></p>
</div>
<main>
	<div class="displayContainer">
	<section>
		<div class="spaceBetween">
		<a th:href="@{/category}">
			<div class="index-boxlink1">
			<h3>Categorie</h3>
			</div>
		</a>
	</div>

		<a th:href="@{/photographer}">
			<div class="index-boxlink2">
			<h3>Fotografi</h3>
			</div>
		</a>

		<div class="spaceBetween2">
		<a th:href="@{photography}">
			<div class="index-boxlink3">
			<h3>Foto</h3>
			</div>
		</a>
	</div>
	</section>
</div>
</main>
<footer>
<ul class="footer-links-main">
	<li><a th:href="@{/default}">Home</a></li>
	<li><a th:href="@{/category}">Categorie</a></li>
	<li><a th:href="@{/photographer}">Fotografi</a></li>
	<li><a th:href="@{/photography}">Foto</a></li>
</ul>
<br>
<br>
<br>
<br>
<ul class="footer-links-cases">
	<li>info@gmail.com</li>
</ul>
</footer>
</body>
</html>