<!DOCTYPE HTML>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link th:href="@{/layout/styles/registrationSuccessful.css}" rel="stylesheet">
	<title>Fotografia - Registrazione completata</title>
</head>
<body>

<!--  
<header>
	<a th:href="@{/index}" class="header-brand">Fotografia</a>
	<nav>
		<ul class="nav_links">
			<li><a th:href="@{/index}">Home</a></li>
			<li>
			<div class="dropdown">
				<a class="dropbtn">Elenco</a>
				<div class="dropdown-content">
					<a th:href="@{/categoryAll}">Categorie</a>
					<a th:href="@{/photographerAll}">Fotografi</a>
					<a th:href="@{/photographyAll}">Foto</a>
				</div>
				</div>
			</li>
		</ul>
		</nav>
		<ul class="nav_links2">
				<li><a th:href="@{/register}" class="button">Register</a></li>
				<li><a th:href="@{/login}" class="button">Login</a></li>
		</ul>
</header>
-->
<section class="contentLogin">
	<div class="main">
		<div class="successTitle">
			<p>Registrazione avvenuta correttamente</p>
		</div>
			<div class="returnLogin">
				<a th:href="@{/login}" class="button">Continua</a>
			</div>
		</div>
</section>

<!-- 
<footer>
<ul class="footer-links-main">
	<li><a th:href="@{/index}">Home</a></li>
	<li><a th:href="@{/categoryAll}">Categorie</a></li>
	<li><a th:href="@{/photographerAll}">Fotografi</a></li>
	<li><a th:href="@{/photographyAll}">Foto</a></li>
</ul>
<br>
<br>
<br>
<br>
<ul class="footer-links-cases">
	<li>info@gmail.com</li>
</ul>
</footer>
-->

</body>
</html>